:root {
    --primary-background-colour: #edf2f4;
    --secondary-background-colour: #8d99ae;
    --dominant-colour: #2b2d42;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--dominant-colour);
    font-family: "Lato", sans-serif;
}

a:link {
    color: var(--dominant-colour);
  }
  
  a:visited {
    color: var(--dominant-colour);
  }

header {
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: var(--secondary-background-colour);
}

main {
    flex: 1;
    background-color: var(--primary-background-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5rem;
}

form {
    display: flex;
    gap: 1rem;
    color: var(--dominant-colour);
}

form > div {
    display: grid;
}

form input {
    font-size: 1.3rem;
    color: var(--dominant-colour);
    border-radius: 10px;
    border: 1px solid var(--dominant-colour);
    padding: 5px;
}

form button[type="submit"] {
    padding: 1rem 3rem;
    background-color: var(--dominant-colour);
    color: var(--primary-background-colour);
    border-radius: 12px;
    border: none;
    font-size: 1.7rem;
}

form button[type="submit"]:hover {
    filter: brightness(1.3);
}

.turn-text {
    display: none;
    font-size: 2.5rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;

}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid var(--dominant-colour);
    color: var(--dominant-colour);
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

.box:nth-child(3n+1) {
    border-left: none;
}

.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:last-child {
    border-bottom: none;
}

footer {
    height: 5%;
    width: 100%;
    text-align: center;
    background-color: var(--secondary-background-colour);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-end {
    border: none;
    color: var(--dominant-colour);
    background-color: var(--primary-background-colour);
    margin: 30% auto;
    width: 80%;
    max-width: 350px;
    padding: 2rem;
    border-radius: 10px;
}

#game-end > div {
    display: grid;
    justify-items: center;
}

#game-end p {
    font-size: 2.5rem;
    font-weight: 700;
}

#game-end button {
    font-size: 2rem;
    color: var(--primary-background-colour);
    background-color: var(--dominant-colour);
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
  }

  #game-end button:hover {
    filter: brightness(1.3);
  }

#game-end::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}